.HeadingStarsWrapper {
    height: 112px;

    @include media($mobile) {
        flex-direction: column;
    }

    h1 {
        margin: 0;
        @include font(24, 30, 400, ('Roboto Slab', serif), $mainBlue);
    
        & > .bold {
            font-weight: 700;
        }

        @include media($mobile) {
            font-size: 21px;
            line-height: 23px;
            text-align: center;
            margin-bottom: 20px;
        }
    }
}

.Stars {
    @include flexCenter;

    &--marginLeft {
        margin-left: 40px;
    }

    &__item {
        @include starIcon(12);
        
        &:not(:last-child) {
            margin-right: 5px;
        }
    }

    @include media($mobile) {
        margin-left: 0;
    }
}